[bumpversion]
current_version = {{ cookiecutter.version }}
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:{{ cookiecutter.project_slug }}/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
{% if cookiecutter.docs_generator == "Sphinx" %}
[bumpversion:file:docs/conf.py]
search = version = "{current_version}"
replace = version = "{new_version}"
{% endif %}
[bumpversion:file:CHANGELOG.md]
search = ## Unreleased
{% if "github.com" in cookiecutter.repository %}replace = ## [v{new_version}]({{ cookiecutter.repository }}/compare/{current_version}...{new_version}) ({utcnow:%Y-%m-%d})
{% else %}replace = ## v{new_version} ({utcnow:%Y-%m-%d})
{% endif %}
