{# Full name of your company if any, else leave it blank #}
{% set company = "" %}
{# Acronym of your company #}
{% set company_short = "" %}
{% set copyright %}Copyright (c) {% now 'local', '%Y'%} {{ cookiecutter.full_name if company == '' else company }}{% endset %}
{% set repository %}https://github.com/{{ cookiecutter.email.split('@')[0] }}/{{ cookiecutter.repo_name }}.git{% endset %}

